div.flex-container {
  display: grid;
  grid-template-rows: repeat(8, 20px);
  gap: 2px;
  grid-auto-flow: column;
  grid-auto-columns: 50px 50px;
  border: 2px solid black;
  overflow-x: scroll;
}

.sneeze-record {
  margin: 1px;
}

.sneeze-record.comment {
  border: 1px solid red;
}

button.sneezed {
  margin: 2px;
}

div.names > div {
  width: 200px;
}
